@media screen and (max-width: 1367px) {
  nav {
    padding: 0 $p_md;
  }
  

  #home {
    height: 100vh;

    > section {
      &:first-of-type {
        padding-left: $p_md;
        > div aside {
          width: 85%;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .nav {

    .nav-content {
      position: fixed;
      right: 0;
      top: 100px;
      background-color: rgb(254,241,242);
      border: 2px solid rgb(242,100,63);
      border-radius: 40px;
      width: 25%;
      padding: 3rem;
      margin-right: 20px;
      margin-top: 20px;
      > ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        
      }
    }
    .display {
      display: inline;
    }
    .hide {
      display: none;
    }

    > a {
      display: none;
    }
    > button {
      display: inline;
    }
  }
  #home {
    height: auto;
    flex-direction: column-reverse;

    > section {
      
      &:first-of-type {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
      }
    }
  }

  #contact {
    grid-template-columns: 1fr;
    > section {
      width: 100%;
      
    }
    > aside {
      display: none;
    }
  }
}